:root {
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: white;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.navbar {
  background-color: #f4f7fc;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 20px;
}

.nav-item {
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0;
}

.name-heading,
h2 {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 98px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

h3 {
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  margin: 30px;
}

h4 {
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  margin-bottom: 60px;
}

.greetings-container {
  margin-bottom: 400px;
}

.home-project-headings {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  margin-top: 80px;
  display: inline-block;
}

.home-project-description {
  color: #3f3f3f;
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}

.fitness-link,
.weather-link,
.world-clock-link {
  display: inline-block;
  padding: 15px 25px;
  color: black;
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 4px;
}

.fitness-link:hover,
.weather-link:hover,
.world-clock-link:hover {
  color: black;
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.go-to-projects-button {
  display: block;
  margin: 50px auto 0 auto;
  padding: 20px 30px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 4px;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

.about-me-header {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  margin-top: 40px;
  display: inline-block;
}

.about-me-text h3 {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin: 30px;
}

.portfolio-image img {
  width: 500px;
  border-radius: 10px;
  margin: 30px 0;
}

.all-projects-button-wrapper {
  text-align: center;
}

.all-projects-button {
  display: inline-block;
  margin-top: 50px;
  padding: 20px 30px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 4px;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}

.all-projects-button:hover {
  color: white;
  text-decoration: none;
}

.project-page-header {
  font-family: "Playfair Display", serif;
  font-size: 72px;
  margin: 120px 0 auto;
  text-align: start;
  margin: 80px 0 80px;
}

.project-image {
  width: 600px;
  background-color: #f4f7fc;
  padding: 80px 40px;
  border-radius: 10px;
  margin: 30px 20px 0 0;
}

.project-group-headers {
  font-family: "league spartan", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
}

.project-group p {
  color: #3f3f3f;
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 0 0 60px 0;
}

.contact-page-header {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  margin-top: 25px;
  display: inline-block;
  margin: 100px 0 80px;
}

.work-inquiry-section {
  margin-top: 60px;
  padding: 60px 80px;
  background-color: #f4f7fc;
  border-radius: 4px;
}

.work-inquiry-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.work-inquiry-text {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  margin-left: 60px;
  font-weight: 700;
}

.work-together-p {
  color: #7b7b7b;
  margin: 0 0 0 80px;
  font-weight: 400;
  font-size: 22px;
}

.talk-here-link {
  text-decoration: none;
  padding: 20px 40px;
  margin: 30px 140px 0 0;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  background: black;
}

.talk-here-link:hover {
  text-decoration: none;
  color: white;
}

.socials-footer {
  margin: 80px;
}

.footer-email-link {
  display: flex;
  justify-content: center;
  font-family: "League Spartan", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: black;
}

.footer-socials-images {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0 0 0;
}

.socials-icon {
  width: 60px;
  height: 60px;
}
