body {
  background-color: red;
}

h1 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 42px;
  font-weight: 600;
  font-style: normal;
  margin: 0;
}

p {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: 20px;
}
