body {
  background-color: red;
}

h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
}

p {
  color: white;
  font-family: "Playfair", serif;
  font-size: 24px;
}
